@import './util/normalize';
@import './scss/fonts';
@import './scss/vars';
@import './scss/buttons';
@import './scss/nouislider';

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: 'Intro';
  color: #fff;
  &[data-hidden='true'] {
    overflow: hidden;
  }
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 40px;
}

@import './scss/header';
@import './scss/hero';
@import './scss/catalog';
@import './scss/catalog-products';
@import './scss/about';
@import './scss/questions';
@import './scss/contacts';
@import './scss/socials';
@import './scss/footer';
@import './scss/modal-product';
@import './scss/modal-cart';
@import './scss/modal-order';
@import './scss/modal-authorization';
@import './scss/modal-info';
@import './scss/order-list';
