@import './util/normalize';
@import './scss/fonts';
@import './scss/vars';
@import './scss/buttons';

body {
  font-family: 'Intro';
  background-color: var(--bg-color);
  color: #fff;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 40px;
}

@import './scss/header';
@import './scss/hero';
