.modal-order {
  max-width: 580px;
  width: 100%;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__top {
  }

  &__content {
  }
}
.order-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: var(--text-color);
  }

  &__number {
    font-weight: 300;
    font-size: 14px;
    color: var(--gray-color);
  }
}
.order-content {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__total {
    font-weight: 300;
    font-size: 16px;
    color: var(--gray-color);
    span {
      font-weight: 700;
      color: var(--text-color);
    }
  }

  &__sum {
    font-weight: 300;
    font-size: 16px;
    color: var(--gray-color);
    span {
      font-weight: 700;
      color: var(--text-color);
    }
  }

  &__about {
    overflow: hidden;
    &.active .order-content__compound {
      margin-bottom: 20px;
    }
  }

  &__compound {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    font-weight: 300;
    font-size: 16px;
    color: var(--text-color);
    transition: all 0.3s ease 0s;
    user-select: none;
    cursor: pointer;

    &::after {
      content: '';
      background: url(./img/modal/down-arrow.svg) center no-repeat;
      background-size: cover;
      width: 7px;
      height: 8px;
    }
  }

  &__products {
    max-height: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &.active {
      opacity: 1;
    }
    transition: all 0.3s ease 0s;
  }

  &__product {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
    font-weight: 300;
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
  }

  &__form {
  }
}
.order-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__button {
  }
}
.order-form {
  &__input {
    border-radius: 4px;
    padding: 20px;
    background-color: #f6f6f6;
    border: none;
    &::placeholder {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      color: var(--gray-color);
    }
    &:focus {
      outline: none;
    }
  }
}
