.order-list {
  background-color: #fff;
  padding: 40px;
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #444b58;
    color: var(--text-color);
  }

  &__items {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 500px;
    gap: 20px;
  }
}
.modal-order {
  &__content {
  }
}
.order-content {
  &__inner {
  }

  &__top {
  }

  &__total {
  }

  &__sum {
  }

  &__about {
  }

  &__compound {
  }

  &__products {
  }

  &__product {
  }
}

.cart-product {
  &__img {
  }

  &__info {
  }

  &__title {
  }

  &__price {
  }
}
