.order-list {
  background-color: #fff;
  padding: 40px;
  @media (max-width: 420px) {
    padding: 20px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #444b58;
    color: var(--text-color);
  }

  &__items {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 500px;
    gap: 20px;
  }
}
